# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.zvesti_venv/
venv/
env/

# IDEs and Editors
.vscode/

# Build and Distribution Artifacts
dist/
build/
*.egg-info/

*.db

neat_ai/checkpoints/*
neat_ai/neat_ai/*
neat_ai/trained_ai/*

# But DO NOT ignore the .gitkeep files inside them
!neat_ai/checkpoints/.gitkeep
!neat_ai/neat_ai/.gitkeep
!neat_ai/trained_ai/.gitkeep
